<footer class="footer group">
	<div class="footer-instagram">
		<a  class="footer-instagram__link" href="//instagram.com/glebkalinin" title="Я в Instagram"></a>
	</div>
	<div class="footer-i">
		© <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> <a href="/about">Обо мне</a>. <a href="/blog" class="link">О блоге</a>. <a href="/atom.xml">RSS</a>
	</div>
</footer>