<div class="social-widget">
  <h3 class="social-widget__headline">
    <%= config.follow %>
  </h3>
  <iframe class="social-widget__twitter" allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=glebis&amp;show_count=false">
  </iframe>
  <iframe  class="social-widget__facebook" src="//www.facebook.com/plugins/follow.php?href=https%3A%2F%2Fwww.facebook.com%2Fkalinin&amp;width&amp;height=80&amp;colorscheme=light&amp;layout=button&amp;show_faces=true&amp;appId=729145880450151" scrolling="no" frameborder="0" allowTransparency="true"></iframe> 
</div>