<div class="subscribe_form">
	<h3 class="subscribe_form__header">Понравилась заметка?</h3>
	<p class="subscribe_form__callto">Подпишитесь на мою рассылку и получайте  записи блога, эксклюзивные ссылки и размышления только для подписчиков.</p>

	<iframe src="https://gleb.substack.com/embed" width="100%" height="180" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>


</div>