<form class="subscribe_form" action="https://tinyletter.com/glebkalinin" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/glebkalinin', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
	<h3 class="subscribe_form__header">Понравилась заметка?</h3>
	<p class="subscribe_form__callto">Подпишитесь на мою рассылку и получайте лучшие записи блога, а также эксклюзивные ссылки и размышления только для подписчиков.</p>
	<p><label for="tlemail">Ваш email</label> <input class="subscribe_form__email" type="text" name="email" id="tlemail" /> <input type="hidden" value="1" name="embed"/><input class="subscribe_form__submit" type="submit" value="Подписаться" /></p>
</form>